html, body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font: 1rem Poppins, san-serif;
	font-weight: 400;
	letter-spacing: 0.2px;
	line-height: 16px;
}
.top-section {
	background-image: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.container {
	width: 85%;
	margin: auto;
}

.header {
	height: 100%;
	padding: 3% 5%;
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between;
	align-items: center;
}


.logo__image {
	width: 100%;
	display: block;
	object-fit: cover;
}

.nav {
	display: flex;
	align-items: flex-end;
}
.nav-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 16px 0 0;
	list-style: none;
	gap: 1rem;
}
.nav-list__link {
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
	display: block;
}
.nav-list__item {
	margin-left: 42px;
	display: flex;
	align-items: stretch;
	line-height: 1.7rem;
}
.btn {
	background-color: transparent;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-align: center;
	width: 153px;
	height: 52px;
	border-radius: 39px;
	font-weight: 500;
	font: 1rem Poppins, san-serif;
	outline: none;
}

.btn-header {
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.top-section-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.two-buttons {
	display: flex;
	width: 100%;
    justify-content: center;
    gap: 1rem;
}
.heading {
	text-align: center;
	font-weight: 900;
	font-size: 3.4rem;
	line-height: 4rem;
	color: white;
	margin-bottom: 2%;
	margin-top: 10%;
}
.sub-heading {
	font-weight: 700;
	line-height: 1.25rem;
}

.top-section__sub-heading {
	color: #E5E5E5;
	margin-bottom: 6%;
}
.btn-top {
	width: 184px;
	height: 52px;
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.black-letter {
	color: #112D57;
	background-color: white;
}
.top-section-image__icon {
	width: 100%;
	object-fit: cover;
	display: block;
	padding: 7%;
}


.figmaland-flex-container {
	display: flex;
	gap: 2rem;
	height: 440px;
	margin-bottom: 10%;
}
.figmaland-flex-item {
	display: flex;
	flex-direction: column;
	margin: 13%;
	justify-content: space-evenly;
}

.figmaland-flex:nth-child(2) {
	background-image: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
	color: white;
}

.grey-text {
	color: #5C5C5C;
}
.figmaland-flex {
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.figmaland-flex p {
	line-height: 1.6rem;
}

.section-figmaland h3 {
	font-weight: bold;
	font-size: 1.875rem;
	line-height: 2rem;
}
.blue-link {
	color: #03D6F3;
}



h2 {
	font-weight: 500;
	font-size: 2.875rem;
	line-height: 3.5rem;
	text-align: center;
}

.figmaland-title {
	margin: 8% 15%;
}
.process-title {
	text-align: start;
	margin-bottom: 0;
}
.process-content__sub-heading {
	color: #5C5C5C;
	margin-right: 5%;
}

.section-process-container {
	display: flex;
	margin: 0 6%;
}

.process-container {
	margin-top: 15%;
}

.process-content {
	display: flex;
	flex-direction: column;
	margin: 7% 0;
	gap: 1rem;
}

.wide-blue-btn {
	background-color: #03D6F3;
	border: 1px solid #03D6F3;
	width: 216px;
	height: 52px;
}

.wide-white-btn {
	background-color: #FFFFFF;
	color: #03D6F3;
	border: 1px solid #03D6F3;
	width: 203px;
	height: 52px;
}







.businesse-flex {
	display: flex;
}